<h1> Welcome to the Salon</h1>

<body>
  <div id="navbar-div">
    <form action="/" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="home">Home</button>
    </form>
    <form action="/stylists" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="books">Stylists</button>
    </form>
    <form action="/clients" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="authors">Clients</button>
    </form>
  </div>
  <br>
  <div class="container">
  </div>

</body>
