<h1> Welcome to the Salon</h1>

<body>
  <div id="navbar-div">
    <form action="/" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="home">Home</button>
    </form>
    <form action="/stylists" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="stylists">Stylists</button>
    </form>
    <form action="/clients" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="clients">Clients</button>
    </form>
    <form action="/stylists" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="add_stylist">Add a stylist</button>
    </form>
    <form action="/clients" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="add_client">Add a client</button>
    </form>
  </div>
  <br>
  <div class="container">
  </div>

</body>
